body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.card{
  width: 100%;
  height: 100vh;
  background: url(1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 50px rgba(0,0,0,.7);
}
.card:before{
  content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(0,0,0,.9);
}
.img{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}
.card .img span{
  width: 25%;
  height: 100%;
  background: url(1.jpg);
  transition: .5s;
}
.card .img span:nth-child(1){
  background-position: 0;
  transition-delay: 0;
}
        
.card .img span:nth-child(2){
  background-position: 33.33333%;
  transition-delay: .1s;
}
        
.card .img span:nth-child(3){
  background-position: 66.66666%;
  transition-delay: .2s;
}
        
.card .img span:nth-child(4){
  background-position: 100%;
  transition-delay: .3s;
}
.card:hover .img>span{
  transform: translateY(-100%);
}

.card:hover .content{
  transform: translateY(0%);
  transition: 1s;
  transition-delay: 0.1s;
}

.content{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding:20px 20px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.content h2{
  font-size: 4em;
}
.content .btn{
  position: relative;
    letter-spacing: 0.25em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
    font-size: 28px;
    color: #000;
    text-decoration: none;

}

.btn::after, .btn::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 50%;
      transform: skewX(30deg);
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      z-index: -2;
    }

.btn::before {
      background-color: #e62e00;
      top: -1rem;
      left: 0rem;
    }
.btn::after {
      background-color: #009999;
      top: 1rem;
      left: 8rem;
    }

.btn:hover::before, .btn:hover::after{
  top:0;
  transform: skewX(0deg);
}

.btn:hover::after{
  left: 0rem;

}
.btn:hover::before{
  left: 8.75rem;
}
/*https://codepen.io/JacksonTsai/pen/RExgBq
https://codepen.io/dan10gc/pen/LzLwWp